@font-face {
  font-family: "IgcFont";
  src: url("https://storage.googleapis.com/my-rest-api-2022-kasoma/igcfashion/fonts/IgcFont-Regular.otf")
      format("opentype"),
    url("https://storage.googleapis.com/my-rest-api-2022-kasoma/igcfashion/fonts/IgcFont-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
